@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#trafficTop{
    background-color: black;
    width: 29px;
    height: 70px;
    margin: auto;
}

.container{
    background-color: black;
    width: 118px;
    height: 263px;
    margin:auto;
    padding: 24px;
    border-radius: 18px;
}

.button {
  border: none;
  color: black;
  padding: 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  border-radius: 50%;
    &.red {
        background-color: red;
    }
    &.yellow {
        background-color: yellow;
    }
    &.green {
        background-color: #009933;
    }
    &.selected{
        box-shadow: #f8ffcc 0px 0px 50px 20px;
    }
}
.button-off {
    background-color: gray;
}

.light{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    &.red {background-color: #990000;}
    &.yellow {background-color: #cc6600;}
    &.green {background-color: #009933;}
    &.selected {box-shadow: #f8ffcc 0px 0px 50px 20px;}
}
h1{
    margin-top: 15px;
    text-align: center;
    font-size: 65px;
}
